<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/join.js"></script>
    <link rel="stylesheet" href="/css/join.css">
</head>
<body>
    <h2>회원가입</h2>

    <ul>
        <li>아이디</li>
        <li><input type="text" name="userid" id="userid"></li>
    </ul>
    <ul>
        <li>비밀번호</li>
        <li><input type="password" name="userpw" id="userpw"></li>
    </ul>
    <ul>
        <li>이름</li>
        <li><input type="text" name="username" id="username"></li>
    </ul>
   <button id="localJoin">회원가입</button>
</body>
</html>